<!DOCTYPE html>
<html>
<head>
<title>$UP</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
    box-sizing: border-box;;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.content {
    background-color: transparent;
    width:400px;
    height: 300px;
    perspective:1000px;
}
.inner {
    width:100%;
    height:100%;
    position:relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.content:hover .inner {
    transform: rotateY(180deg);
}
.x , .y {
    width:100%;
    height:100%;
    backface-visibility:hidden;
    position:absolute;
    text-align: center;
}
.x {
    background-color: cornflowerblue;
    color: white;
}
.y {
    background-color: orangered;
    color: white;
    transform: rotateY(180deg);
}
</style>
</head>
<body>

<div class="content">
    <div class="inner">
        <div class="x">
            <h1>NIGHT</h1>
        </div>
        <div class="y">
            <h1>MORNING</h1>
        </div>
    </div>
</div>

</body>
</html>
